openapi: "3.1.1"
info:
  title: Log-It API
  version: "1.0"
  description: API for developers to log and manage their application logs. Authorization header is called `LogIt-Authorization` and uses JWT tokens.
servers:
  - url: https://logit.amsky.xyz
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: LogIt-Authorization
      description: JWT token sent in LogIt-Authorization header
paths:
  /auth/register:
    post:
      summary: Register for a dev key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                publicView:
                  type: boolean
      responses:
        "201":
          description: Dev key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicKey:
                    type: string
                  token:
                    type: string
        "400":
          description: Request did not contain a password
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /auth/login:
    post:
      summary: Fetch a JWT token for auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        "400":
          description: Request did not contain password or public key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /api/pull:
    get:
      summary: Fetch logs
      description: |
        Fetch logs for the authenticated user or public logs with limited info.

        - With auth you get full filters and full data.
        - If no auth, provide `key` (public dev key) query parameter to fetch public logs with limited info.
      security:
        - bearerAuth: []
      parameters:
        - name: key
          in: query
          required: false
          description: Public dev key, required if no auth token is provided.
          schema:
            type: string
        - name: channel
          in: query
          required: false
          description: Filter logs by channel (only works with auth token).
          schema:
            type: string
        - name: ip
          in: query
          required: false
          description: Filter logs by IP address (only works with auth token).
          schema:
            type: string
        - name: logLevel
          in: query
          required: false
          description: Filter logs by log level (only works with auth token).
          schema:
            type: string
        - name: messageContains
          in: query
          required: false
          description: Filter logs containing this string in message (only works with auth token).
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Logs fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicKey:
                    type: string
                  page:
                    type: integer
                  logs:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        channel:
                          type: string
                        ip:
                          type: string
                        logLevel:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
                        logId:
                          type: string
                        environment:
                          type: string
        "401":
          description: Invalid or missing auth token when given
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Invalid public key or invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/log:
    get:
      summary: Log a message
      parameters:
        - name: key
          description: Public dev key
          in: query
          required: true
          schema:
            type: string
        - name: channel
          in: query
          required: true
          schema:
            type: string
        - name: message
          in: query
          required: true
          schema:
            type: string
        - name: logLevel
          in: query
          required: false
          schema:
            type: string
        - name: tags
          in: query
          required: false
          schema:
            type: array
        - name: environment
          in: query
          required: false
          schema:
            type: string
            enum: [dev, staging, prod]
      responses:
        "200":
          description: Log created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        "400":
          description: Bad request, missing fields or invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Missing/invalid dev key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/edit:
    put:
      summary: Edit a log's message
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                logId:
                  type: string
                message:
                  type: string
      responses:
        "200":
          description: Log edited successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        "400":
          description: Bad request, missing fields or invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: Log not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/delete:
    delete:
      summary: Delete a log
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                logId:
                  type: string
      responses:
        "200":
          description: Log deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        "400":
          description: Bad request, missing fields or invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: Log not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/clear:
    delete:
      summary: Clear all logs
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All logs cleared successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  deletedCount:
                    type: integer
                    example: 50
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "404":
          description: No logs found to clear
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/export:
    get:
      summary: Export logs
      security:
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          required: false
          description: Format to export logs (default JSON)
          schema:
            type: string
            enum: [json, csv]
      responses:
        "200":
          description: Logs exported successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: 
                    {
                      "channel": "channel",
                      "ip": "1.1.1.1",
                      "logId": "abc",
                      "logLevel": "info",
                        "message": "message",
                        "timestamp": "2025-01-01T00:00:00.000000+00:00"
                      }
  /api/log/bulk:
    post:
      summary: Bulk log messages
      parameters:
        - name: key
          in: query
          required: true
          description: Public dev key
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  channel:
                    type: string
                  message:
                    type: string
                  logLevel:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
                  environment:
                    type: string
                    enum: [dev, staging, prod]
      responses:
        "200":
          description: Logs created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        "400":
          description: Bad request, missing fields or invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /stats:
    get:
      summary: Fetch stats
      responses:
        "200":
          description: Successfully fetched stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalLogs:
                    type: integer
                    example: 1000
                  totalDevKeys:
                    type: integer
                    example: 10
  /api/logs/search:
    get:
      summary: Advanced log search
      security:
        - bearerAuth: []
      parameters:
        - name: channel
          in: query
          required: false
          description: Filter by channel (comma separated)
          schema:
            type: string
        - name: environment
          in: query
          required: false
          description: Filter by environment (dev, staging, prod)
          schema:
            type: string
            enum: [dev, staging, prod]
        - name: tags
          in: query
          required: false
          description: Filter by tags (comma separated)
          schema:
            type: array
            items:
              type: string
        - name: logLevel
          in: query
          required: false
          description: Filter by log level (comma separated)
          schema:
            type: string
        - name: ip
          in: query
          required: false
          description: Filter by IP address (comma separated)
          schema:
            type: string
        - name: messageContains
          in: query
          required: false
          description: Search logs containing this string in message
          schema:
            type: string
        - name: messageRegex
          in: query
          required: false
          description: Regex search on message
          schema:
            type: string
        - name: caseSensitive
          in: query
          required: false
          description: Regex search case sensitive (default false)
          schema:
            type: boolean
            default: false
        - name: startDate
          in: query
          required: false
          description: ISO 8601 start date
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          required: false
          description: ISO 8601 end date
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          required: false
          description: Page number (default 1)
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          description: Number of logs per page (default 100, max 500)
          schema:
            type: integer
            default: 100
        - name: sortField
          in: query
          required: false
          description: Field to sort results by (default by time)
          schema:
            type: string
            default: timestamp
            enum: [timestamp, channel, logLevel, ip]
        - name: sortOrder
          in: query
          required: false
          description: Sort order, `asc` or `desc` (default desc)
          schema:
            type: string
            enum: [asc, desc]
        - name: fields
          in: query
          required: false
          description: List of fields to return (comma separated, default all)
          schema:
            type: string
      responses:
        "200":
          description: Logs fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicKey:
                    type: string
                  page:
                    type: integer
                  limit:
                    type: integer
                  sortField:
                    type: string
                  sortOrder:
                    type: string
                    enum: [asc, desc]
                  filtersApplied:
                    type: object
                    additionalProperties: true
                  returnedFields:
                    type: array
                    items:
                      type: string
                  logs:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        channel:
                          type: string
                        ip:
                          type: string
                        logLevel:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
                        logId:
                          type: string
                        environment:
                          type: string
        "400":
          description: Invalid request (e.g., bad date format)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/blacklist/add:
    post:
      security:
        - bearerAuth: []
      summary: Add an IP to blacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  format: ipv4
      responses:
        "200":
          description: IP added to blacklist
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/blacklist/remove:
    post:
      security:
        - bearerAuth: []
      summary: Remove an IP from the blacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  format: ipv4
      responses:
        "200":
          description: IP removed from blacklist
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/blacklist/list:
    get:
      security:
        - bearerAuth: []
      summary: List all blacklisted IPs
      responses:
        "200":
          description: Successfully fetch blacklisted IPs
          content:
            application/json:
              schema:
                type: object
                properties:
                  blacklist:
                    type: array
                    items:
                      type: string
                      format: ipv4
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/webhook-setup:
    post:
      summary: Setup webhook for log notifications
      security:
        - bearerAuth: []
      requestBody:
        description: Only discord webhook url is currently supported
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                webhookUrl:
                  type: string
                  format: uri
      responses:
        "200":
          description: Webhook setup successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /api/update-public-view:
    post:
      summary: Update public view setting
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicView:
                  type: boolean
      responses:
        "200":
          description: Public view setting updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "403":
          description: Unauthorized access